* {
    box-sizing: border-box;
}

:root {
    --topbar-h: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: indigo;
    color: white;
}

/* HEADER and MENU */

header {
    height: var(--topbar-h);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid yellow;
}

svg.burger {
    height: 100%;
}

svg.burger line {
     stroke-width: 10; 
     stroke-linecap: round;
}

ul.menu {
    list-style: none;
    padding: 0;
    transition: opacity .75s;
    position: absolute;
    right: 0;
    top: var(--topbar-h);
    width: 200px;
    margin: 0;
}

ul.menu li.menu-item {
    margin: 5px;
    padding: 2px;
    transition: transform .5s;
    transition-delay: calc(var(--i, 0) * 80ms);
    will-change: transform;
    background-color: white;
    color: indigo;
}

ul.menu li.menu-item:nth-child(1){ --i: 0; }
ul.menu li.menu-item:nth-child(2){ --i: 1; }
ul.menu li.menu-item:nth-child(3){ --i: 2; }

ul.menu.hidden {
    opacity: 0;
    pointer-events: none;
}

ul.menu.hidden li.menu-item {
    transform: translateX(100%);
}

/* ABOVE THE FOLD LAYOUT */

.opening {
    height: calc(100vh - var(--topbar-h));
}