* {
    box-sizing: border-box;
}

:root {
    --topbar-h: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #333;
    font-family: 'Rawline', serif;
}

/* HEADER and MENU */

header {
    height: var(--topbar-h);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #333;
}

svg.burger {
    height: 100%;
}

svg.burger line {
     stroke-width: 10; 
     stroke-linecap: round;
     stroke: white;
}

ul.menu {
    list-style: none;
    padding: 0;
    transition: opacity .75s;
    position: absolute;
    right: 0;
    top: var(--topbar-h);
    width: 200px;
    margin: 0;
}

ul.menu li.menu-item {
    margin: 5px;
    padding: 2px;
    transition: transform .5s;
    transition-delay: calc(var(--i, 0) * 80ms);
    will-change: transform;
    background-color: white;
    color: indigo;
}

ul.menu li.menu-item:nth-child(1){ --i: 0; }
ul.menu li.menu-item:nth-child(2){ --i: 1; }
ul.menu li.menu-item:nth-child(3){ --i: 2; }

ul.menu.hidden {
    opacity: 0;
    pointer-events: none;
}

ul.menu.hidden li.menu-item {
    transform: translateX(100%);
}

/* ABOVE THE FOLD LAYOUT */

.opening {
    height: calc(100vh - var(--topbar-h));
}

.story {

    margin: 0 auto;
    max-width: 630px;

}

.quadradinho {
    display: block;
    margin: 0 auto;
    width: 1rem;
    height: 1rem;
    border: 1px solid currentColor;
    background-color: gold;
}

.valor-pago {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

/* CHARTS */

canvas.chart-classificacoes {

    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    height: 900px;
    max-height: 95vh;

}

.chart-wrapper {

    position: relative;

}

.rotulo {

    position: absolute;
    margin: 0;
    transform: translateY(-100%);
    font-size: .8rem;

}

#btnWrapper {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;

}
/*
#btnWrapper button {
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
}*/

/* SCROLLER */

.container-scroller {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
}

.container-chart-scroller {
    position: sticky;
    top: 1rem;
    left: 0;
    height: 400px;
    border: 1px solid pink;
}

.container-story {
    margin-top: 0;
    border: 2px solid black;
    width: 100%;
}

.wrapper-step {
    height: 100vh;
}